[2020-03-09 15:24] dblodgett-usgs opened #1 "USGS-Water sprint goals"
## Narrative
At USGS-Water, our primary initial focus for EDR is a simple access API for our observational "site-based" data. Our use-cases are not limited to this, accessing data by pre-defined or custom (watershed) polygon or along a defined line (transect) are of interest, but secondary given our current development on waterdata.usgs.gov and waterservices.usgs.gov. Given this, we want to focus

[2020-03-09 15:45] PeterTrevelyan opened #2 "Explore putting EDR API on ESRI REST API image server"

[2020-03-11 09:15] boyi-shangguan opened #3 "WHU sprint goals"
## Narrative
WHU plans to provide the implementation of EDR API service. We will initially focus on the typhoon use cases, including using EDR API to access typhoon tracking data and using them as filters to retrieve the rainfall data or other environmental data, further creating downstream applications and services in favor of both public and private sector stakeholders (e.g., National Marine Env

[2020-03-12 21:43] chris-little opened #4 "Objective: Point, timeseries at a point ,and vertical profile at a point"
Data to be retrieved from various datastores for position (x, y, z, t), or (x, y, z, t1-t2), or (x, y, z1-z2, t)

May need to discuss whether position (x, y, z1-z2, t1-t2) is currently in scope. I.e. is more than one range allowed in the position?

[2020-03-12 21:51] chris-little opened #5 "Objective: polygon and tile"
Data to be retrieved from various data stores by specifying polygon ( (x1,y1), (x2,y2),...(xn,yn), (x1,y1) )

1. Simple polygon with a few corners.

2. Complex polygon with many corners, such as a country, state, town or county border.

3. Special case of rectangle: do we allow a bounding box with only two corners specified? It is simpler for the user.

What is considered a straight line for the b

[2020-03-12 21:57] chris-little opened #6 "Objective: polygon in 3D or 4D"
1. Retrieve from various datastores data that extend vertically above or below the polygon. I.e. there is a vertical range (z1-z2) specified.

2. Retrieve from various datastores data that extend in time within the polygon. I.e. there is a time range (t1-t2) specified, which may be in the future or the past.

3. Do we allow a 4D polygon extended vertically and in time?

It is assumed that there wi

[2020-03-12 21:59] chris-little opened #7 "Objective: polygons in 3D and 4D"
Retrieve data from various datastores that extends vertically above or below the polygon. I.e. there is a vertical range (z1-z2) specified.

Retrieve data from various datastores that extends in time within the polygon. I.e. there is a time range (t1-t2) specified.

Do we allow a 4D polygon extended vertically and in time?

It is assume that there will be no polyhedra or polytopes (complex multidi

[2020-03-12 22:00] #7 closed, assigned to nobody

[2020-03-12 22:07] chris-little opened #8 "Objective: Tile/Cube in 3D or 4D"
Retrieve data from various data stores where the specified polygon is a rectangle, extended vertically or in time.

Is a compact notation of ranges for each dimension allowed? I.e. ( (x1-x2), (y1-y2), (z1-z2), (t1-t2) ) or similar such as ( (x1, y1, z1, t1), (x2, y2, z2, t2) ) ?

[2020-03-12 22:15] chris-little opened #9 "Objective: Trajectory, 2D, 3D or 4D"
Retrieve data from various data stores along a specified trajectory.

A 2D trajectory, on the surface of earth, at the same time. ( (x1,y1), (x2,y2), ...(xn,yn) )

A 3D trajectory, on the surface of the earth but over a time range. ( (x1,y1,t1), (x2,y2,t2), ...(xn,yn,tn) )

A 3D trajectory, through a 3D volume with height or depth, for the same time
( (x1,y1,z1), (x2,y2,z2), ...(xn,yn,zn) )

A 4D

[2020-03-12 22:23] chris-little opened #10 "Objective: Corridor, 3D or 4D"
Retrieve data from various data stores throughout a specified 'corridor' (i.e. a 'fat trajectory').

A 4D corridor, through a 3D volume but over a time range
( (x1,y1,z1,t1), (x2,y2,z2,t2), ...(xn,yn,zn,tn) ) plus r,z ranges.
This is the primary goal, driven by various use case, such as an aviation flight path. Other cases below are not so convincing,

A 3D corridor on the surface of the earth but

[2020-03-14 13:18] chris-little opened #11 "Groups versus Collections"
At the recent OGC Tech Committee in Ottawa, it seemed Collections of collections will be a valid pattern for the OGC APIs in general, and possibly for OGC API - Common specifically.

Can we replace Groups with collections without loss of generality?

[2020-03-18 14:22] dblodgett-usgs opened #12 "Items view of EDR resources."
The current spec leaves off here: http://docs.opengeospatial.org/DRAFTS/19-086.html#_items with:

I want to look at what the JSON-Schema is for these items.

This is working on the last three check boxes here: https://github.com/opengeospatial/Environmental-Data-Retrieval-API/issues/12#issuecomment-588001118

Will create a folder in the readme to contribute to.

[2020-03-18 14:40] ShaneMill1 opened #14 "Further Development of Aggregation of Collections"
Beginning Status:

Currently, the NWS has an implementation of the aggregation of collections for the use case of NAM and GFS grib data:

- This implementation is available here: [https://data-api.mdl.nws.noaa.gov/EDR-API/groups/US_Models?outputFormat=application%2Fjson](url)

What we want to accomplish:

- The aggregation of other data sources, such as grib data sources from other met offices, or

[2020-03-18 14:42] dblodgett-usgs commented on #12
See https://m-burgoyne.github.io/edr_optional_instance_api.html for current openAPI draft for /collections/{collectionID}/items/{itemID} path. (note there is a typo there "item" should be "items").

[2020-03-18 14:47] cportele commented on #12
@dblodgett-usgs - I will try to monitor this issue as good as I can, not sure how much I can spend on this.

One comment after looking at the text in the document:

If the idea is to be consistent with Features, I would have expected that `collections/metar/raw/items` returns the list of items (paged, if there are many) and that the query would look like `collections/metar/raw/items/KIAD?parameter

[2020-03-18 15:02] dblodgett-usgs commented on #12
Cool -- that's right in line with my thinking.

[2020-03-18 15:07] dblodgett-usgs opened #15 "JSON-Schema for /collections/{collectionID}/items"
The "Items" endpoint here: https://m-burgoyne.github.io/edr_optional_instance_api.html currently uses coverageJSON. I think it should be a GeoJSON Feature Collection with valid query parameters for each item in the collection.

@jkreft-usgs and I just discussed this and it's in line with what @cportele mentioned in #12

The trick is how to expose lists of available parameters in geoJSON? Can someo

[2020-03-18 15:59] ShaneMill1 commented on #14
Action Items:

Documentation of best practices

- We want to be able to document the approach for the naming convention, the workflow, etc.

Additional Data Ingest:
Test all of the resolutions laid out in nomads for GFS, NAM, RAP, HRRR, SREF?, RTMA?

- GFS
Resolutions
   0.25 - needs to be done
   0.5 - completed for 00z - memory error towards end of creating zarr stores
   1 - completed

- NAM
Di

[2020-03-18 17:59] chris-little commented on #15
CoverageJSON makes sense for multidimensional arrays of data (nD, n>1), so GeoJSON for returning list of Items seems reasonable to me.
What does @m-burgoyne  think?

[2020-03-18 18:07] cportele commented on #15
I had a look at the CovJSON spec and how we would implement support for it in ldproxy. I was wondering one thing: How well can it be streamed? Or was that no design consideration and CovJSON documents are always meant to be small?

[2020-03-18 18:09] m-burgoyne commented on #15
The candidate specification allows the publisher to advertise the output formats that they support, each of the EDR API querys allows the user to specify which of the output formats they want so both output formats (and others i.e. GeoPackage or Shape) could be supported if the publisher is prepared to inplement the logic in the collection.

CoverageJSON has a well defined by flexiable schema capa

[2020-03-18 18:10] chris-little commented on #1
@dblodgett-usgs About ".. both "parameter codes" and "statistic codes" -- " is a pattern we've encountered many times in GRIB, BUFR, CF-NetCDF and other parameter lists. I recommend in the shorter term to just use commonly used "statistic codes" exactly like parameter codes (e.g. 'mean temperature', 'standard deviation of temperature', etc). Trying to construct a  language to enable some generalit

[2020-03-18 18:14] chris-little commented on #2
@PeterTrevelyan can you add a bit more detail please. And which EDR API patterns do you envisage? Point, Timeseries, Profile, Polygon, Tile, Trajectory/Corridor?

[2020-03-18 18:17] m-burgoyne commented on #15
@cportele I don't think there is any support for streaming, but it does have the concept of tiling NDimensional data https://covjson.org/spec/#tiledndarray-objects

[2020-03-18 18:21] chris-little commented on #3
@dblodgett-usgs @m-burgoyne 👍  WHU's Case 3 looks as if it is the same as the Items issue.

[2020-03-18 18:23] chris-little commented on #4
@m-burgoyne Is it feasible to extract data over two ranges? Or shall we defer this to a later stage? Can we do the vertical profile now?

[2020-03-18 18:25] ShaneMill1 commented on #14
One thing that has been happening with the aggregation of the creation of collections, when the zarr datastores are being produced, often there isn't enough memory to process the higher resolution and more complex collections (x,y,z,t).

This has happened so far with:

- gfs 0.50 degree

- gfs 0.25 degree

- nam 32km

May need to look into how to process better when using xarray ds.to_zarr. Also,

[2020-03-18 18:27] m-burgoyne commented on #4
@chris-little I think the trajectory query would solve this requirement, it can be made up of an array of 4D points [(x1,y1,z1,t1),(x1,y1,z2,t2),(x1,y1,z3,t3) ...]

[2020-03-18 18:31] cportele commented on #15
@m-burgoyne - Thanks for the clarification. So since tiling will only really work for results that can be cached and you are returning CovJSON that is created on-the-fly in your prototype (I think), is my conclusion correct that CovJSON is only meant for smallish payloads? I am asking, because I was expecting that EDR API responses could also sometimes become "big" (mega bytes).

[2020-03-18 18:38] chris-little commented on #6
@m-burgoyne I assume the answer to (3) is the same as in Issue #4, do we allow two ranges or just one for the time being?

[2020-03-18 18:42] m-burgoyne commented on #15
@cportele, yes CoverageJSON should only be for small payloads (as is true of any text based format).  The EDR candidate specification does allow the publisher to advertise other output formats and has a specific HTTP error code to inform the user their request will payload is too large too process.   One of the aims of the EDR format is to encourage users to ask for just the data they need, althou

[2020-03-18 18:43] m-burgoyne commented on #6
@chris-little #3 is the Cube query

[2020-03-18 18:44] chris-little commented on #8
Ranges in each dimension gives some consistency with the Timeseries and Vertical Profile pattern queries.
Specifying the diagonal corners gives consistency with the special case of a rectangular polygon.
@m-burgoyne My preference is for the former pattern - specifying ranges for each dimension for consistency with Timeseries and Vertical Proifle

[2020-03-18 18:49] chris-little commented on #12
@cportele As you have spotted - documentation (informative) is some way behind implementation (nearly normative).

[2020-03-18 18:51] m-burgoyne commented on #8
@chris-little in the Cube API I specified that is was a 2D WKT Polygon with seperate time range and Z query parameters. This forces the height and time values to be ranges rather than a random collection of values.

[2020-03-18 18:53] chris-little commented on #14
@ShaneMill1 I suppose one design could be to have details of the individual collections (arrays) and then preprocess the query into separate queries for each ndividual collection. That seems hard at present.

[2020-03-18 18:58] chris-little commented on #15
@cportele And the definition of 'small' for CoverageJSON is that it can be downloaded into a browser for local, client-side, processing, such as innovative visualisation.

[2020-03-18 19:09] cportele commented on #15
@chris-little - Also in the use case streaming is useful for the user experience.

[2020-03-18 20:49] chris-little opened #16 "Objective: Conformance testing"
As Stephan Siemen from ECMWF said, some form of testing needs to be done, in particular, for the returned data payload:
- GeoJSON has a clear standard to test against.
- CoverageJSON is well defined by the original work done by Jon Blower and Maik Reichardt at Reading University, but we have also started, rather slowly, the process to agree an OGC standard for the structure of CoverageJSON. See th

[2020-03-18 21:15] ShaneMill1 commented on #14
Non NWS grib datasets we will look at next:
https://github.com/opengeospatial/EDR-API-Sprint/wiki/Possible-sources-of-data

- France on AWS
https://registry.opendata.aws/meteo-france-models/
- Canada
https://weather.gc.ca/grib/index_e.html

- Dutch
https://data.knmi.nl/datasets?q=grib

[2020-03-18 21:40] ShaneMill1 commented on #14
Useful links from George P regarding zarr and pangeo
- https://github.com/pangeo-data/pangeo/issues/450
- https://github.com/zarr-developers/zarr-specs/issues/42

[2020-03-18 23:18] dblodgett-usgs commented on #3
Yes -- I think it is.

[2020-03-18 23:20] dblodgett-usgs commented on #1
I agree -- we usually concatenate them but some people _really_ want to split them out.

[2020-03-18 23:35] chris-little commented on #6
@m-burgoyne So the Cube query encompasses a non-rectangular polygon, extruded with time and elevation ranges?

[2020-03-18 23:39] chris-little commented on #4
@m-burgoyne but can we do timeseries and/or vertical profile? These are not the same as a 4D trajectory. Or have I misunderstood something?

[2020-03-18 23:45] chris-little commented on #15
@cportele - well not really. Streaming usually implies some chunks, such as images or sound bites, can be dropped and only the latest in the stream matters. In general, this is not true for a lot of environmental data - it has to be lossless and complete, otherwise the science is screwed.

[2020-03-19 00:20] cmheazel commented on #16
We have a conformance test for API-Features.  This test was written to be modular.  So we should be able to create a set of conformance test modules to match our API modules.  Now we just need to see if it actually works as planned.

[2020-03-19 00:25] cmheazel commented on #16
Conformance tests for the returned payload is a bit harder.  With XML we had a validating XML schema and Schematron rules.  While there is a JSON schema standard, it is nowhere near as rigorous as XML schema.  At this point I'm not sure that tools exist to do serious JSON validation.  Much less the other formats which we can expect to see.

[2020-03-19 00:39] cmheazel commented on #11
@chris-little I'm a little reluctant to go down that path.  According to the General Feature Model, a Feature Collection is a collection of Features and Feature Collections.  A collections of collections path could rapidly become a very large and deep tree. Not something I would want to capture in an OpenAPI document. Perhaps we could use hypermedia navigation.  Follow the links to the node you wa

[2020-03-19 00:47] cmheazel commented on #10
@chris-little A 3D corridor on the surface of the earth but over a time range. Answer: What is the coverage of an airborne electro-optical collector. Applicable to motion imagery and stereo collections.

[2020-03-19 00:50] cmheazel commented on #8
Would it be out of scope to propose extensions to the WKT geometry?  An n-dimensional WKT?

[2020-03-19 01:41] dblodgett-usgs commented on #15
I think the streaming @cportele is referring to is in the sense of a database query -- Can the format be streamed out before the query has completely returned such that the client-server connection can open nearly synchronously? Or does the format require complete serialization on the server before starting the stream? e.g. xml with metadata a la TimeseriesML vs a zipped package.

[2020-03-19 02:53] dblodgett-usgs commented on #12
Learning some of the tech on the job here -- so bear with me.

I'm thinking something along the lines of this:

[code]
This validates against the geojson schema anyways.

- `id` is what goes in `/collection/{collectionID}/items/{itemID}`. (I ripped this from OGC-API Features Example 12)
- `datetime` follows features.
- `parametername` follows the draft spec naming convention. (Does geojson really

[2020-03-19 07:20] m-burgoyne commented on #4
@chris-little I think it would be useful to have actual example use cases to map the question to.  In some cases it might just be simpler to make multiple simple requests to an API rather than trying to create a query with too many dimensions.  As in your original example some of the inputs to the query were not actually array values but min and max ranges, but you were trying to specifiy them in

[2020-03-19 07:25] m-burgoyne commented on #8
I think WKT is capable of specifying enough dimensions for this query,  the solution was more about constraining the query parameters to a range of inputs that are valid.

[2020-03-19 08:39] cportele commented on #11
The General Feature Model does not include feature collections. @cmheazel - you must be referring to some other model?

[2020-03-19 09:01] cportele commented on #15
@dblodgett-usgs - exactly, thanks.

@chris-little - I think most implementations of OGC API Features use streaming when they return features, typically a feature per chunk. Streaming is not just video, etc. That way the client can start to do something with the incoming features, before the query on the server is finished. This is not really important when you request ten features, but that change

[2020-03-19 09:05] m-burgoyne commented on #15
In theory you could use the https://covjson.org/spec/#tiledndarray-objects approach to achieve a similar result.

[2020-03-19 09:08] cportele commented on #15
@m-burgoyne - But that would require that the tiles could be all in the same document/response/JSON object, which currently doesn't seem to be the case?

[2020-03-19 09:13] m-burgoyne commented on #15
@cportele, yes it would require client side logic as the parent document has to be loaded to identify the availble tiles (each of which is a seperate document).

[2020-03-19 10:31] PeterTrevelyan commented on #2
The main aim of this work is to show how  the EDR "Pattern" may be "mapped"  onto a proprietary REST API , such as ESRI's Arc Image Server. The output from this  work will be a document outlining the issues that are brought to light and a very simple prototype consisting of a simple proxy server that uses the EDR API and translates into the Image Server REST API

[2020-03-19 10:31] #2 closed, assigned to nobody

[2020-03-19 10:38] PeterTrevelyan opened #17 "ESRI sprint telco"
**### **Meetint to be held at 14:00 BST (UK) note we are only 7 hours ahead of Pacific time****

Join Skype Meeting
Trouble Joining? Try Skype Web App
Join by phone

+1 855-630-7113 (North America),,9411250# (North America)                                 English (United States)
+1 909 369-3165 (US Local),,9411250# (North America)                            English (United States)

Find a local nu

[2020-03-19 11:25] sgby commented on #1
We discussed to use LINESTRING(), LINESTRINGZ(), LINESTRINGM(), LINESTRINGMZ() in crs to distinguish trajectory query pattern, for example:
+ A 2D trajectory, on the surface of earth, at the same time:
coords=LINESTRING(51.14 -2.98, 51.36 -2.87, 51.03 -3.15, 50.74 -3.48, 50.9 -3.36)

+ A 3D trajectory, on the surface of the earth but over a time range:
coords=LINESTRINGM(51.14 -2.98 1560507000, 51

[2020-03-19 11:28] boyi-shangguan commented on #3
We discussed to use **LINESTRING(...)**, **LINESTRINGZ(...)**, **LINESTRINGM(...)**, **LINESTRINGMZ(...)** in **_coords_** to distinguish trajectory query pattern, for example:

+ A 2D trajectory, on the surface of earth, at the same time:
**_coords_=LINESTRING(51.14 -2.98, 51.36 -2.87, 51.03 -3.15, 50.74 -3.48, 50.9 -3.36)**

+ A 3D trajectory, on the surface of the earth but over a time range:
*

[2020-03-19 11:36] m-burgoyne commented on #3
That does make a lot of sense, I had missed that part of the simple features specification and it would also make the documentation a lot clearer for people to understand. The same will apply to the other N-Dimensional queries

[2020-03-19 13:16] cmheazel commented on #11
@cportele You're right.  Don't know what I was thinking of.

[2020-03-19 13:55] boyi-shangguan commented on #9
Notice that we have query patterns of '**_point_**', **'_polygon_**' but without '**_linestring_**'. For trajectory can be regarded as a special kind of linestring, is it better to rename the query pattern '**_trajectory_'** to '**_linestring_**' ？

[2020-03-19 15:17] dblodgett-usgs commented on #15
Learning some of the tech on the job here -- so bear with me.

I'm thinking something along the lines of this:

[code]
This validates against the geojson schema anyways.

- `id` is what goes in `/collection/{collectionID}/items/{itemID}`. (I ripped this from OGC-API Features Example 12)
- `datetime` follows features.
- `parametername` follows the draft spec naming convention. (Does geojson really

[2020-03-19 15:19] m-burgoyne commented on #9
I think **'point'** and **'polygon'** are fairly common terms **'linestring'** isn't as user friendly.  **'trajectory'** is slightly more meaningful

[2020-03-19 16:46] chris-little commented on #11
@m-burgoyne @cportele @cmheazel So, in the current EDR API documents, where we have specified 'group' in the path, can we call it a collection or not?
I suspect there is some significant work in delineating what EDR API collections and groups are and are not.

[2020-03-19 16:52] m-burgoyne commented on #11
@chris-little I was awaiting the outcome of the collection of collections discussion.  I think it would become superfluous if collection of collections becomes an approved approach.

[2020-03-19 16:55] chris-little commented on #10
@cmheazel I would say electro-optical sensing from an air or space borne instrument is a 4D corridor, but extending down to the surface of the earth, rather than just a fixed (?) distance from a trajectory linestring. Need to think about strereo-pairs aspect though. I propose we tackle this useful use case later.
Meteorological air and space borne sensors, such as in infrared or microwave bands, r

[2020-03-19 16:58] chris-little commented on #8
@cmheazel Yes - out of scope, until we encounter something that we cannot represent in current WKT.

[2020-03-19 17:20] chris-little commented on #15
Streaming: can we say that the first version of EDR API will not do streaming?
Does this then imply that the Tile pattern repsonse is one tile, not lots? Requesting an extensive bounding box and hoping to get lots of tiles rather goes against the orignal scope and use cases.

[2020-03-19 17:26] m-burgoyne commented on #15
No, the Tile pattern is still suitable for situations where you have large volumes of data that for some reason you want to deliver as CoverageJSON

[2020-03-19 17:32] cportele commented on #15
I wouldn't say that in the spec.

In general it is a decision of an implementation, if it uses streaming or not. No implementation is required to support streaming.

In addition, it will depend on the encoding. If the EDR API returns a media type that can be streamed the such a statement would be wrong, too.

And looking at the draft spec, it lists a GeoJSON conformance class. It is not really cle

[2020-03-19 18:08] chris-little commented on #4
Is a point location (x, y, z1-z2, t1-t2) in scope? I.e. is more than one range allowed in the position?
Use Case: construct a Hovmöller diagram of a parameter like potential temperature at a location (x,y). This is a vertical (z,t) graph/diagram with the horizontal x axis being Time, and the vertical y axis Altitude. The EDR API calls could be either:
1. (x, y, zi, t1-t2) called several times for

[2020-03-19 18:28] jkreft-usgs commented on #12
I'm pretty sure that you can do whatever you want in the properties of geoJSON.

[2020-03-19 18:29] chris-little commented on #9
@sgby I agree with @m-burgoyne . "Linestring" is a specific jargon for geospatial or computer graphics specialists. "Trajectory" is the correct English word in every dictionary. Linestring is the technical implementation of the trajectory concept.

[2020-03-19 19:03] dblodgett-usgs commented on #12
Yes -- we can. The idea is to have something that is valid geoJSON but also adhering to a more specific EDR JSON schema that we can validate.

[2020-03-19 19:05] dblodgett-usgs commented on #15
Do you guys want to open an issue for streaming and EDR content types? This issue wasn't really supposed to be about that.

[2020-03-19 19:14] chris-little commented on #15
I think we have closed off the streaming issue. It would be nice to copy it into its own thread for newbies to follow.

[2020-03-19 19:51] ShaneMill1 commented on #14
First non NWS dataset we have investigated is from Meteo France:

- Arpege
https://donneespubliques.meteofrance.fr/?fond=produit&id_produit=130&id_rubrique=51

- request:
“http://dcpc-nwp.meteo.fr/services/PS_GetCache_DCPCPreviNum?token=__5yLVTdr-sGeHoPitnFc7TZ6MhBcJxuSsoZp6y0leVHU__&model=ARPEGE&grid=0.5&package=IP2&time=00H24H&referencetime=2020-03-19T00:00:00Z&format=grib2”

Wget for each packa

[2020-03-19 20:02] solson-nws commented on #14
So, with this issue, let's lay out some of the assumptions:

1.  Must be grib data (We want to test both internal NWS grib files and grib files from around the country.  Let's nail down Grib first, then move on to netcdf and HDF5 datasets
2.  Data must have a CRS of WGS84.
3.  Would prefer datasets be global, at least initially.

From a best practice perspective, the goal is to test the automated

[2020-03-19 20:10] m-burgoyne commented on #4
The candidate specification has time as a seperate range parameter for the point query which covers (1) and I think that the trajectory query should cover (2) and (3)

[2020-03-19 20:13] jkreft-usgs commented on #12
OK, so i'm working on something here, with Dave doing a lot of the heavy lifting
https://jkreft-usgs.github.io/edr_site_based/

See #15 for more.

[2020-03-19 20:19] ShaneMill1 commented on #14
Meteo France's data is now available for 00z on our public facing implementation here:

https://data-api.mdl.nws.noaa.gov/EDR-API/collections/automated_arpege_050/00z?outputFormat=application%2Fjson

Will continue to check for errors but it is returning data.

[2020-03-19 20:36] chris-little commented on #14
@ShaneMill1 Can you confirm from the GRIBthat the French are using a lat-long WGS84 grid? Their NWP models tend to use rotated poles and also stretched lat-long.

[2020-03-19 20:44] ShaneMill1 commented on #14
@chris-little
this is what eccodes shows which looks like WGS84 unless I have it wrong:

  latitudeOfFirstGridPointInDegrees = 90;
  longitudeOfFirstGridPointInDegrees = 0;
  latitudeOfLastGridPointInDegrees = -90;
  longitudeOfLastGridPointInDegrees = 359.5;
  iDirectionIncrementInDegrees = 0.5;
  jDirectionIncrementInDegrees = 0.5;
  gridtype = regularll;

regularll is for regular lat lon it loo

[2020-03-19 21:02] chris-little commented on #14
@ShaneMill1 It looks good, but what would those parameters be for a rotated stretched grid?

[2020-03-19 21:59] ShaneMill1 commented on #14
@chris-little Using eccodes, the grib table is:
gridDefinitionTemplateNumber = **0** [Latitude/longitude  (Also called equidistant cylindrical, or Plate Carrée)  (grib2/tables/5/3.1.table) ]

https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table3-1.shtml

I presume rotated stretched grid would be a template number of 3. That doesn't appear to be the case here.

[2020-03-20 06:53] cportele opened #18 "Streaming of EDR API response media types"
I had a look at the CovJSON spec and how we would implement support for it in ldproxy. I was wondering one thing: How well can it be streamed? Or was that no design consideration and CovJSON documents are always meant to be small?

_Originally posted by @cportele in https://github.com/opengeospatial/EDR-API-Sprint/issues/15#issuecomment-600782395_

@m-burgoyne:

@cportele:

@m-burgoyne:

@chris-li

[2020-03-20 07:01] cportele commented on #15
@dblodgett-usgs - Yes, sorry for the digression. I have copied all streaming related discussion to #18. It could be removed here, but this is nothing I can do with my rights in this repo.

[2020-03-20 11:22] dblodgett-usgs commented on #15
This issue was split into two due to a split in the discussion -- probably would have been easy to start a new one for the original purpose and rename this one. 🤷‍♂️

[2020-03-20 11:25] dblodgett-usgs commented on #15
@jkreft-usgs ...

The properties schema is [here](https://github.com/jkreft-usgs/edr_site_based/blob/9b0b3baa923bd7314d5a47fc84aa58e41ef23043/schemas/EDR_items.yaml#L1628), also here:

[code]

[2020-03-20 11:32] dblodgett-usgs commented on #15
Cool -- We'll need to clean that up, but by my understanding the actual meat of the thing starts [here.](https://github.com/jkreft-usgs/edr_site_based/blob/9b0b3baa923bd7314d5a47fc84aa58e41ef23043/schemas/EDR_items.yaml#L1403) I'll putter on this a bit and get a PR sent your way this morning @jkreft-usgs.

[2020-03-20 12:10] dblodgett-usgs commented on #15
https://github.com/jkreft-usgs/edr_site_based/pull/1/files

[2020-03-20 12:10] #15 closed, assigned to nobody

[2020-03-20 12:37] ShaneMill1 opened #19 "Ability to provide search engine using artifacts from Aggregation of Collection IDs"
As a result of Issue #14, the aggregation of collections software provides a json output that contains the metadata for each dataset.

For example, 00z_gfs_100_collections.json (1.00 Degree GFS) contains:
- each collection ID
- the unique parameter ID
-  the parameter long name
-  the collection's dimensions and the dimension values.

We have this information for all of the datasets, so we want to

[2020-03-20 12:49] boyi-shangguan commented on #3
A simple web service endpoint demo is provided for trajectory query:
[114.116.247.114:8080/edr/collections/hainan_weather/trajectory](url)

At present, we just realize query with (x,y,t) trajectory, like:
[114.116.247.114:8080/edr/collections/hainan_weather/trajectory?parametername=rainfall&coords=LINESTRINGM(112.7 21.1 1471392000, 112.5 20.9 1471402800, 112.6 20.5 1471413600, 112.7 20.6 147142440

[2020-03-20 16:48] ShaneMill1 commented on #19
So far, have created a python module that will create a catalog out of all of the _collection.json files that are created from the aggregation process.

Created a dictionary where each key is the model id and instance (ie: 00z_gfs_100), just to make the dictionary id's unique. The value to that key is another dictionary containing the contents of the associated _collection.json file.
For example,

[2020-03-20 16:58] chris-little commented on #17
@PeterTrevelyan My understanding is that ESRI and you are looking to demonstrate EDR API, for points/timeseries/vertical profiles, and cube/tiles, retrieving from ESRI Image Server or similar product?

[2020-03-20 17:04] chris-little opened #20 "Objective: Mark Burgoyne developing new EDR API server and client"
@m-burgoyne Perhaps you could put in a bit nore detail for our edification, and the final report.

[2020-03-20 17:22] m-burgoyne commented on #20
Build a simple EDR server to demonstrating Point, Polygon and Items queries against the same collection.  It will also demonstrate an alternative approach to **item_id**.  With the proposed application **item_id** is a unique identifier for a location (i.e. a METAR id, GeoHash key, What Three Words etc) which has a set of data assigned to it.

[2020-03-20 20:42] ShaneMill1 commented on #19
We now have the search engine (by grib long name) implemented on our instance:

https://data-api.mdl.nws.noaa.gov/EDR-API

You can search a keyword, and the collections that have the parameters with the long name containing that keyword will be shown. You can click on one of the links, and be taken to the point where you can make a query.

The links returned are in a dictionary that was not ordere

[2020-03-22 07:40] cportele commented on #9
If there is a preference for 'trajectory' over 'linestring', shouldn't it be 'location' instead of 'point' and 'area' instead of 'polygon'?

[2020-03-24 07:00] m-burgoyne commented on #9
@cportele I agree

[2020-03-25 11:42] chris-little commented on #9
I agree for 'Area'. Orginally, I think we chose the words that we did to emphasise the topological and dimensional differences of the queries.

The problem with 'Location' is that it is construed usually as 2D, rather than 4D. 'Position' may be better. 'Point' would be applicable to a 4+D space, e.g. with frequency as a dimension, or ensmble member.

[2020-04-01 15:29] tomkralidis opened #21 "MSC sprint goals"
## Narrative
[STAC](https://stacspec.org) provides a common language to describe a range of geospatial information, so it can more easily be indexed and discovered. A 'spatiotemporal asset' is any file that represents information about the earth captured in a certain space and time.

While STAC work has been primarily focused on EO imagery, there is value in investigating STAC capability for real-

[2020-04-01 19:10] tomkralidis commented on #21
@chris-little / @dblodgett-usgs where's a good place to communicate results and URL to demo?

[2020-04-01 19:20] ShaneMill1 commented on #19
Going off of the last comment, added the ability to search by grib parameter long name as well as the dimension long name so that a user can search for isobaric,temperature to further narrow the results.

In a previous meeting, it was discussed that we would like to utilize OpenSearch geo and time extensions. I did some research, and found the pycsw module that offers a python implementation of OG

[2020-04-01 19:28] dblodgett-usgs commented on #21
Whatever is easiest for you. Maybe over in the wiki for the spec to keeps things focused?

We should get something of a summary of all the things that happened assembled, what do you think @chris-little ?

[2020-04-02 14:48] ShaneMill1 commented on #14
Outcome from this objective:

- Successfully used aggregation of collection software to ingest GFS 1.0 Degree, 0.50 Degree, 0.25 Degree, NAM 32km and 12km, and Meteo France's Arpege 0.5 Degree data.

- Identified memory problem when creating zarr datastores for higher resolution data.

- Reminded of important assumption that data must be WGS84, therefore NAM data would need to be converted to this

[2020-04-02 14:48] #14 closed, assigned to nobody

[2020-04-02 14:51] ShaneMill1 commented on #19
After discussion with Mark, Chris, and Steve, will continue to work with pycsw module. Will work on populating the sqlite database with metadata that comes from aggregation software. OpenSearch geo and time extensions provide simple queries and responses for the search engine, so focus will be on this aspect for now. pycsw module is very extensible, so we can pick what other services we want to ex

[2020-04-02 14:51] #19 closed, assigned to nobody

[2020-04-02 17:09] chris-little commented on #21
@tomkralidis @dblodgett-usgs I've just agreed with varaious Met Ocean DWG members that we should close off each Issue in the Sprint repo, either by:
1. stating the agreed resolution, or
2. transferring the issue to the EDR API Spec repo, or
3. transferring elsewhere more appropriate.
I think keeping most text in the Issue threads would be cleaner and easier.

[2020-04-02 17:11] dblodgett-usgs commented on #21
Fine by me but my read of what @tomkralidis is asking is what to do with the actual outcomes he implemented... that may not fit in an issue.

[2020-04-02 18:07] chris-little commented on #21
We have something similar with what Shane Mills is doing for NWS. I think the work ends up being part of a EDR API Best Practice, or perhaps Engineering Report, for various environments and communities.

[2020-04-03 12:16] tomkralidis commented on #19
@ShaneMill1 let's continue the discussion on what/how the formal metadata would look to serve as part of a CSW instance (Dublin Core, ISO, etc.).  This will also give us an opportunity to investigate the OGC API - Records work (disclosure: I'm part of this SWG and working on an implementation).

[2020-04-03 13:02] tomkralidis commented on #21
## Results
- implemented a STAC catalog for a (very very small subset) of our [Global Deterministic Prediction Model](https://github.com/opengeospatial/EDR-API-Sprint/issues/21)
- code: https://github.com/geopython/pygeoapi/tree/stac2
- deployment:
  - root catalog: http://52.170.144.218:8000/stac/nwp
  - model run: http://52.170.144.218:8000/stac/nwp/00
  - model run/forecast hour: http://52.170.

[2020-04-03 13:11] ShaneMill1 commented on #19
@tomkralidis Absolutely- I am going to create an issue in the EDR SWG github to continue this discussion. All of that sounds good to me!

located here: https://github.com/opengeospatial/Environmental-Data-Retrieval-API/issues/40

[2020-04-09 13:26] #12 closed, assigned to dblodgett-usgs

[2020-04-11 20:36] #21 closed, assigned to nobody

[2020-04-23 11:57] chris-little commented on #1
We agreed on parameter list approach.
Sprint finished.
Any other objectives and issues now on [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 11:57] #1 closed, assigned to nobody

[2020-04-23 12:00] chris-little commented on #3
The Objectives were achieved in the Sprint.
Sprint now closed.
Further issues and objectives will now be followed on [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 12:00] #3 closed, assigned to nobody

[2020-04-23 12:02] chris-little commented on #4
This issue has been discussed and transferred to the [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)
A very useful debate.

[2020-04-23 12:02] #4 closed, assigned to nobody

[2020-04-23 12:03] chris-little commented on #5
Name of Polygon query changed to Area query.
follow-on issues now on [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 12:03] #5 closed, assigned to nobody

[2020-04-23 12:06] chris-little commented on #8
More implementation experience needed beofre extending the query scope

[2020-04-23 12:06] #8 closed, assigned to nobody

[2020-04-23 12:07] chris-little commented on #9
Issues resolved and renames transferred to [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 12:07] #9 closed, assigned to nobody

[2020-04-23 12:08] chris-little commented on #10
Issue postponed for future wowrk. No implementation or documented use case yet.

[2020-04-23 12:08] #10 closed, assigned to nobody

[2020-04-23 12:10] chris-little commented on #17
Implementation experimentation is continuing outside of Sprint and EDR API SWG.

[2020-04-23 12:10] #17 closed, assigned to nobody

[2020-04-23 12:11] chris-little commented on #20
Use of named locations agreed. Future work on [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 12:11] #20 closed, assigned to nobody

[2020-04-23 12:12] chris-little commented on #18
Issue well explored and useful recommendations adopted in [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 12:12] #18 closed, assigned to nobody

[2020-04-23 12:22] chris-little commented on #11
Current ststus of wider OGC Collection discussion is that Collections are:
1. Separate conformance class in OGC API - Common: Part 1 Core.
2. Now proposed as a separate Part of the standard OGC API - Common: Part 2 Collections.
Transferred as an issue in [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 12:22] #11 closed, assigned to nobody

[2020-04-23 12:25] chris-little commented on #16
This is now a continuing issue [Environmental Data Retrieval API repo](https://github.com/opengeospatial/Environmental-Data-Retrieval-API)

[2020-04-23 12:25] #16 closed, assigned to nobody

[2020-04-23 12:29] chris-little commented on #6
Current consensus is that 2+D queries allow a 2D area to be extended in Time or extended vertically, but not both at the same time.
It should not be too difficult to do both at the same time as the CoverageJSON could handle it, but the payload starts being not small and convenient. Future work to enhance the standard.

[2020-04-23 12:29] #6 closed, assigned to nobody